html, body {
  height:100%;
  width:100%;
  margin: 0px;
  background-color: aliceblue;
  background-image: url("https://i.pinimg.com/originals/31/1d/b7/311db75b09c8f703cb4d787776c425b3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}
  
.container {
  font-family: 'Roboto', sans-serif;
  height:95%;
  width:98%;
  margin: 10px;

} 
.container > * {
  background-color: #ccc;
  /* background-image: url("https://i.redd.it/yn9ryipxeac31.png"); */
  background-size: cover;
  padding: 1em;
  border-radius: 20px;
  margin-bottom: 2%;
}
header {
  background-image: url("https://images.unsplash.com/photo-1517504734587-2890819debab?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cHVycGxlJTIwc25vd3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}


#nav-bar {
  grid-row-end: span 2;
  text-align: center;  
  color:lavender;
  background-image: url("https://i.pinimg.com/originals/31/1d/b7/311db75b09c8f703cb4d787776c425b3.gif");
}  
ul#left-sidebar-list {
  padding: 0px;
}
li.left-sidebar-items {
  list-style: none;
  display: inline-block;
} 
.nav-links {
  color:lavender;
  font-weight: 500;
  font-size: 16px;
  margin: 12px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  text-transform: initial;
  text-decoration: none;
}
a.nav-links {
  text-decoration: none;
  text-align: left;
}
a:hover {
  color: rgb(173, 236, 255);
  font-weight: 600;
  text-decoration: none;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 50px;
  margin: 20px;
  font-family: 'VT323', monospace;
}

p { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;  
  font-weight: 500;
  color: lavenderblush;
  text-align: justify;
  text-transform: initial;
}

button {
  margin: 3px;
}

.content {
  min-height: 40%;
  /* overflow-y: scroll; */
  /* background-color: aliceblue; */
  background-image: url("https://images.unsplash.com/photo-1517504734587-2890819debab?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cHVycGxlJTIwc25vd3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.content h1, .content p {
  text-align: center;
}

#game-container {
  margin: 10px;
}

/* responsive grid layout */

@media screen and (min-width: 40em) {
    .container > * {
      margin-bottom: 0;
    }
    /* Define the grid */
    .container {
      display: grid;
      grid-template-columns: 18% 60% 18%;
      grid-gap: 2% 2%;
      grid-template-rows: 10% auto 10%;
    }
    /* Place items on the grid */
    .header {
      grid-column: 1 / span 3;
      text-transform: uppercase;
      color:rgb(210, 210, 250);
      font-weight: 600;
      font-size: 20px;
      background-image: url("https://i.redd.it/yn9ryipxeac31.png");
      
      display:flex; 
      justify-content:center;
      align-items:center;
    }

    nav {
        height: 80vh;
    }

    .content {
      grid-column: 2 / span 2;
      text-align: center;
      text-transform: uppercase;
      color:lavender;
      font-weight: 600;
      height: 80vh;
    }
  
  }
